/* Fonts */
@import url("fonts.css");
/* ==================== */
/* Reset style */
@import url("reset.css");
/* ==================== */

body {
	font-family: Poppins, sans-serif;
	font-size: 18px;
	color: #7d7d7d;
	line-height: 1.2;
}
.text {
	font-family: "Inter";
	font-weight: 400;
	color: #7d7d7d;
}
.list {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	color: #7d7d7d;
}
/* Header */
.header {
}
.header__container,
.footer__container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 15px;
}
.header__content {
	background-color: #b1acac;
	margin-bottom: 50px;
	box-shadow:
		11px 8px 34px #000,
		12px 12px 18px rgb(226, 94, 94);
	padding: 10px;
}
.header__logo {
}
.logo {
	width: 150px;
	box-shadow:
		0px 1px 2px 0px rgba(0, 255, 255, 0.7),
		1px 2px 4px 0px rgba(0, 255, 255, 0.7),
		2px 4px 8px 0px rgba(0, 255, 255, 0.7),
		2px 4px 16px 0px rgba(0, 255, 255, 0.7);
}
.logo__title {
	display: inline-block;
	padding: 50px 300px 0 20px;
}
.logo__title h1,
.footer__link {
	font-size: 25px;
	font-weight: 600;
	text-decoration: underline rgba(0, 255, 255, 0.7) 4px;
	text-shadow: 4px -1px 3px #000;
}
.header__link {
	display: inline-block;
}
.header__link-list {
}
.header__link-item {
	font-family: "Inter";
	color: #000;
	font-size: 22px;
	display: inline-block;
	padding-right: 25px;
	text-transform: uppercase;
}
/* ==================== */

/* Main */
/* Block1 */
.main {
}
.main__container {
}
.block1 {
	max-width: 702px;
	margin: 0 auto;
	border: solid 5px #b1acac;
	margin-bottom: 50px;
}
.main__text {
}
.management {
}
.management .management__img {
}
.management__img {
	margin-bottom: 37px;
}
.main__img {
	width: 100%;
}
.management__title {
	font-size: 30px;
	font-weight: 600;
	color: #37393f;
	margin-bottom: 37px;
}
.management__text {
}
.management__text p {
	padding-bottom: 40px;
}
.management__text .color {
	font-size: 20px;
	font-weight: 600;
	color: #6b77e5;
	padding-bottom: 12px;
}
.last {
	margin-bottom: 40px;
}
.benefits {
	margin-bottom: 50px;
	font-size: 0;
}
.benefits__img {
	max-width: 333px;
	margin-right: 29px;
}

.benefits__info {
	max-width: 311px;
	display: inline-block;
}
.benefits__info-text {
	margin: 10px 0 21px 0;
}
.benefits__info-text h3 {
	font-size: 25px;
	font-weight: 600;
	color: #37393f;
	text-transform: capitalize;
	padding-bottom: 20px;
}
.benefits__info-text p {
	font-size: 20px;
	font-weight: 600;
	color: #40ddb6;
}
.benefits__list {
	font-size: 18px;
}
.list-benefits li {
}

.list-benefits-item {
	font-weight: 400;
	color: #7d7d7d;
	padding-bottom: 35px;
}
.list-benefits li:last-child {
	padding-bottom: 0px;
}
/* Block2 */
.block2 {
	max-width: 1200px;
	margin: 0 auto;
	border: solid 5px #b1acac;
	margin-bottom: 50px;
	background-color: #fff9f4;
}
.block2__container {
}
.develop {
	margin: 10px 10px;
}
.develop__info {
	display: inline-block;
	max-width: 563px;
	margin-right: 29px;
}
.develop__info h3 {
	font-family: "Inter";
	font-size: 28px;
	font-weight: 400;
	color: #d06b00;
	padding-top: 21px;
	padding-bottom: 45px;
}
.develop__info h2 {
	color: #0e333d;
	font-family: "DDM+Serif+Text";
	font-size: 59px;
	font-weight: 400;
	padding-bottom: 57px;
}
.develop__info p {
	font-family: "Inter";
	font-size: 20px;
	font-weight: 400;
	color: #474747;
	margin-bottom: 10px;
	line-height: 1.8;
}
.develop__info img {
	width: 100%;
}
.develop__info-right {
	margin-right: 22px;
}
/* ==================== */

/* Footer */
.footer__link {
	margin-left: 220px;
	padding: 0 0 50px 0;
	font-style: italic;
}
/* ==================== */
