/* Fonts */
@import url("fonts.css");
/* ==================== */
/* Reset style */
@import url("reset.css");
/* ==================== */

body {
	font-family: Inter, sans-serif;
	font-size: 18px;
	color: #7d7d7d;
	line-height: 1.2;
	background-image: url("../img/body/ramiro.jpg");
	background-size: cover;
}

.header__container,
.footer__container,
.main__container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 15px;
}

.on-top {
	text-align: right;
	margin-bottom: 50px;
}
.on-top img {
	width: 75px;
}
/* Header */
.header {
	background: linear-gradient(225deg, rgba(63, 94, 251, 1) 50%, rgba(146, 222, 157, 1) 100%);
	width: 100%;
	box-shadow:
		0px 1px 2px 0px rgba(0, 255, 255, 0.7),
		1px 2px 4px 0px rgba(0, 255, 255, 0.7),
		2px 4px 8px 0px rgba(0, 255, 255, 0.7),
		2px 4px 16px 0px rgba(0, 255, 255, 0.7);
	font-size: 0;
	margin-bottom: 100px;
}
.header__content {
	margin: 30px 0;
	display: inline-block;
}
.header__logo {
	display: inline-block;
	vertical-align: middle;
	margin-right: 50px;
}
.logo__title {
	margin-right: 120px;
	display: inline-block;
	vertical-align: middle;
}
.logo {
	width: 150px;
	box-shadow:
		0px 1px 2px 0px rgba(0, 255, 255, 0.7),
		1px 2px 4px 0px rgba(0, 255, 255, 0.7),
		2px 4px 8px 0px rgba(0, 255, 255, 0.7),
		2px 4px 16px 0px rgba(0, 255, 255, 0.7);
}

.logo__title,
.footer__link {
	color: #0a4178;
	font-size: 25px;
	font-weight: 600;
	text-decoration: underline #0afbfb 5px;
}

.header__link {
	display: inline-block;
	vertical-align: middle;
}
.header__link-top {
	display: inline-block;
	margin-right: 60px;
}
.header__link-list li:not(:last-child) {
	margin-bottom: 30px;
}
.header__link-list {
	color: #000;
	font-size: 24px;
	text-decoration: underline;
}

.header__link-bottom {
	display: inline-block;
}

/* ==================== */

/*Block1 */
.whitecollar {
	max-width: 673px;
	margin: 0 auto;
	padding: 15px;
	margin-bottom: 50px;
	background-color: #fff;
}

.whitecollar__title .title__top {
	margin-bottom: 20px;
}

.title__top-square span {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #40ddb6;
}
.title__top-square p {
	color: #37393f;
	font-weight: 500;
	display: inline-block;
	padding-left: 6px;
}
.whitecollar__title-big {
	max-width: 420px;
}
.title-big {
	color: #37393f;
	font-family: Poppins;
	font-size: 40px;
	font-weight: 700;
}
.whitecollar__info-text {
	line-height: 1.4;
	margin-bottom: 20px;
}
.whitecollar__info-text P:not(:last-child) {
	margin-bottom: 15px;
}
.whitecollar__list {
	margin-bottom: 43px;
}

.list li:not(:last-child) {
	margin-bottom: 23px;
}
.item {
	background: url("../img/main/vector.png") 0 3px;
	background-repeat: no-repeat;
	padding-left: 32px;
	color: #37393f;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.65;
}
.whitecollar__info-block {
	font-size: 0;
	margin-bottom: 37px;
}
.block {
	background: url("../img/main/experience.svg") 32px no-repeat;
	padding: 31px;
	border: 1px solid #e3e3e3;
	max-width: 295px;
	display: inline-block;
}
.block__text {
	padding-left: 58px;
}
.block__text h3 {
	color: #37393f;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 3px;
}
.block__text p {
	font-size: 16px;
	line-height: 1.35;
}
.whitecollar__info-block div:not(:last-child) {
	margin-right: 21px;
}

.more {
	display: inline-block;
	background-color: #6b77e5;
	color: #fff;
	font-weight: 600;
	text-transform: capitalize;
	padding: 21px 27px;
}
.project__client {
	font-size: 0;
}
.client__top {
	margin-bottom: 58px;
}
.project__client .project__client-block:not(:last-child) {
	margin-right: 34px;
}

/* Block2 */

.project {
	max-width: 1250px;
	margin: 0 auto;
	padding: 15px;
	margin-bottom: 50px;
	background-color: #fff;
}

.project__title-big,
.project__title .title__top {
	text-align: center;
	margin-bottom: 14px;
}

.project__title-big {
	margin-bottom: 14px;
}

.project__text {
	line-height: 1.46;
	text-align: center;
	max-width: 852px;
	margin: 0 auto;
	margin-bottom: 47px;
}

.block__client {
	display: inline-block;
}

.block__client-info {
	display: inline-block;
}
.img_1 {
	background: url("../img/main/pc.jpg") no-repeat;
}
.img_2 {
	background: url("../img/main/man.jpg") no-repeat;
}
.img_3 {
	background: url("../img/main/phone.jpg") no-repeat;
}
.img_4 {
	background: url("../img/main/woman.jpg") no-repeat;
}
.img_5 {
	background: url("../img/main/web.jpg") no-repeat;
}
.img_6 {
	background: url("../img/main/laptop.jpg") no-repeat;
}
.block__client-img {
	display: inline-block;
	background-size: contain;
	background-color: #c4c4c4;
	min-width: 370px;
	min-height: 483px;
	margin-bottom: 24px;
}
.block__client-info h3 {
	color: #37393f;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}

.block__client-data span {
	display: inline-block;
	background: url("../img/main/calendar.svg") 0 3px no-repeat;
	width: 22px;
	height: 22px;
	margin-right: 3.35px;
}
.block__client-data p {
	display: inline-block;
	font-size: 14px;
	line-height: 1.46;
}

/* Block3 */
.block3 {
	max-width: 1270px;
	margin: 0 auto;
	padding: 10px 15px;
	background: #fff;
	margin-bottom: 50px;
}
.clothing {
	color: #807d7e;
	font-family: Causten;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.67;
	letter-spacing: 0.4px;
	margin-left: 21px;
}
.clothing__head {
	margin-bottom: 30px;
}
.clothing__head-mark {
	display: inline-block;
	width: 6px;
	height: 28px;
	border-radius: 10px;
	background: #8a33fd;
	margin: 0 15px -4px -28px;
}
.clothing__head-title {
	display: inline-block;
}
.clothing__head-title h2 {
	color: #3c4242;
	font-family: Core Sans C;
	font-size: 28px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 0.56px;
}
.clothing__info h3 {
	margin-bottom: 25px;
}
.clothing__info p:not(:last-child) {
	margin-bottom: 20px;
}

.clothing__sub-title {
	color: #807d7e;
	font-family: Core Sans C;
	font-size: 20px;
	font-weight: 600;
}
.online {
	margin-bottom: 25px;
}

.clothing__text span {
	color: #807d7e;
	font-weight: 700;
}

.clothing__link {
	font-family: Core Sans C;
	font-size: 20px;
	font-weight: 600;
}
/* ==================== */

/* Block4 */
.block4 {
	margin-bottom: 50px;
}
.fasion {
	font-size: 0;
	max-width: 1270px;
	margin: 0 auto;
	padding: 10px 15px;
	background: #fff;
}
.fasion__block {
	display: inline-block;
}
.fasion__block-right {
	display: inline-block;
	background: url("../img/main/unsplash.jpg") no-repeat;
	background-size: cover;
	min-width: 590px;
	min-height: 640px;
	vertical-align: top;
}
.right-info {
	max-width: 470px;
	margin: 183px 0 0 74px;
}
.right-info h2 {
	color: #fff;
	font-family: Core Sans C;
	font-size: 34px;
	font-weight: 800;
	line-height: 1.47;
	letter-spacing: 0.208px;
	margin-bottom: 30px;
}
.right-info p {
	color: #fff;
	font-family: Causten;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 1px;
	margin-bottom: 50px;
}
.fasion__block-link {
	border-radius: 8px;
	background: #fff;
	padding: 12px 44px;
	display: inline-block;
}

.fasion__block-link a {
	color: #3c4242;
	font-family: Causten;
	font-size: 16px;
	font-weight: 600;
}
.fasion__block-left {
	background: url("../img/main/unsplash2.jpg") no-repeat;
	background-size: cover;
	min-width: 590px;
	min-height: 640px;
	display: inline-block;
	background-position: center;
}

/* Footer */
.footer {
	min-height: 100px;
}
.footer__link {
	margin: 0 0 20px 75px;
	font-style: italic;
}
/* ==================== */
